[project]
	description = Epileptic EEG detection using the linear prediction error energy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sanchit Jalan (Sanchit-20)
[access "refs/for/refs/*"]
	read = group user/Sanchit Jalan (Sanchit-20)
	push = group user/Sanchit Jalan (Sanchit-20)
	label-Code-Review = -2..+2 group user/Sanchit Jalan (Sanchit-20)
	label-Verified = -1..+1 group user/Sanchit Jalan (Sanchit-20)
	rebase = group user/Sanchit Jalan (Sanchit-20)
	removeReviewer = group user/Sanchit Jalan (Sanchit-20)
	submit = group user/Sanchit Jalan (Sanchit-20)
[access "refs/heads/*"]
	read = group user/Sanchit Jalan (Sanchit-20)
	create = group user/Sanchit Jalan (Sanchit-20)
	push = +force group user/Sanchit Jalan (Sanchit-20)
	pushMerge = group user/Sanchit Jalan (Sanchit-20)
[access "refs/tags/*"]
	push = group user/Sanchit Jalan (Sanchit-20)
	push = +force group user/Sanchit Jalan (Sanchit-20)
